name: CI workflow

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch: {}

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: '3.13' 

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with: 
          virtualenvs-create: true
          virtualenvs-in-project: true
          virtualenvs-path: .venv
          installer-parallel: true

      - name: Install dependencies
        run: poetry install --no-interaction --no-root

      - name: Run ruff format check
        uses: astral-sh/ruff-action@v3
        with:
          args: format --check
        continue-on-error: true


      - name: Run pylint
        run: poetry run pylint src
        continue-on-error: true


      - name: Run Bandit
        run: poetry run bandit -r src
        continue-on-error: true

      
      - name: Run TruffleHog secret scanning
        uses: trufflesecurity/trufflehog@main
        with:
          extra_args: --results=verified,unknown
        continue-on-error: true

      - name: Run testing and coverage
        run: poetry run pytest --cov=src --cov-report=xml --cov-report=term
        continue-on-error: true







